@import url('https://rsms.me/inter/inter.css');

:root {
    --cinza: #b4b2bc;
    --branco: #e3e3e3;
    --preto: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--branco);
    font-size: 30px;
    font-family: 'Inter', sans-serif;
}

.container-qr-code {
    background-color: #b4b2b2;
    padding: 20px;
    border: solid 3px var(--preto);
    display: flex;
    align-items: center;
    margin: 0px 20px;
}

.conteiner-input-text h2 {
    font-size: 1em;
}

input {
    padding: 10px;
    width: 300px;
    margin: 10px 0px;
    border: solid 2px var(--preto);
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 0px 0 rgba(0, 0, 0, 0.1);
    outline: none;
    font-weight: 600;
    font-size: 16px;
}

button {
    color: var(--branco);
    padding: 10px 10px;
    background-color: var(--preto);
    border: none;
    cursor: pointer;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    font-size: 0.6em;
    font-weight: 500px;
    max-width: 200px;
    max-height: 50px;
    margin-top: 40px;
    border-radius: 8px;
}

.qr-container {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qr-container.qr-visible {
    background-color: #cbcbcb;
    border: solid var(--preto) 2px;
}

#qrcode {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

#download {
    display: none;
    color: var(--branco);
    margin-top: 0;
}

@media only screen and (max-width: 600px) {
    .container-qr-code {
        display: flex;
        flex-direction: column;
    }

    button {
        margin: 0;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    #qrcode {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}